.destination-grid-container {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-gap: 10px;
    /* padding: 20px; */
    margin-top: 60px;
}

.column2 {
    overflow: hidden;
    /* Prevent content from overflowing outside the container */
}

.destination-card {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
}

@media only screen and (max-width: 600px) {

    /* On mobile view, rearrange columns */
    .destination-grid-container {
        grid-template-columns: 1fr;
        /* Single column layout on mobile */
    }
}

@media screen and (max-width:767px) {
    .destionation-section {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10vw 0;
    }

    .destination-details {}

    .destionation-header {
        padding: 0 4vw;
        font-size: 6vw;
        font-family: var(--main-font);
        line-height: 9vw;
        font-weight: 600;
        color: rgba(30, 33, 37, 1);
        box-sizing: border-box;

    }

    .destionation-header>h3>span {
        font-weight: 300;
    }

    .destination-desc {
        padding: 2vw 0 0 4vw;
        font-size: 4vw;
        font-family: var(--main-font);
        line-height: 5.5vw;
        font-weight: 400;
        color: rgba(97, 102, 107, 1);

    }

    .view-destination {
        margin: 10vw 4vw;


    }

    .view-destination>a {
        padding: 4.5vw 10vw;
        font-size: 4vw;
        text-decoration: none;
        font-family: var(--main-font);
        border-radius: 43px;
        color: white;
        background-color: var(--main-color);
    }

    .destination-slider {

        width: 90%;
        margin: 8vw 0;
        height: 60vh;
        object-fit: cover;
    }

    .slick-prev {
        left: 27px;
    }

    .slick-next {
        right: 0px
    }

    .destination-card {

        padding: 0 2vw;
    }

    .destination-card>img {
        box-shadow: 0px 4px 3px black;
        width: 100%;
        height: 60vh;
        object-fit: cover;
        border-radius: 15px;
    }

    .destination-card>.card-info {
        text-shadow: 2px 1px black;
        border-radius: 15px;
        object-fit: cover;
        padding: 0 6vw;
        object-fit: contain;
        color: White;
        position: relative;
        bottom: 13vmax;
        width: fit-content;
    }

    .destination-card>.card-info>h2 {

        font-family: var(--main-font);
        font-size: 8vw;
        line-height: 25px;
        font-weight: 500;
    }

    .destination-card>.card-info>p {
        font-family: var(--main-font);
        font-size: 4vw;
        line-height: 10vw;
        font-weight: 300;

    }

    .destination-card>.card-info>p>span {
        font-weight: 500;
        font-size: 4.5vw;
    }

    ul.slick-dots>li {
        bottom: 25px;

    }

}

@media screen and (min-width:768px) and (max-width:1024px) {

    .destionation-section {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10vw 0;
    }

    .destination-details {}

    .destionation-header {
        padding: 0 4vw;
        font-size: 5vw;
        font-family: var(--main-font);
        line-height: 8vw;
        font-weight: 600;
        color: rgba(30, 33, 37, 1);
        box-sizing: border-box;

    }

    .destionation-header>h3>span {
        font-weight: 300;
    }

    .destination-desc {
        width: 90%;
        padding: 2vw 0 0 4vw;
        font-size: 3vw;
        font-family: var(--main-font);
        line-height: 4.5vw;
        font-weight: 400;
        color: rgba(97, 102, 107, 1);

    }

    .view-destination {
        margin: 10vw 0 10vw 4vw;


    }

    .view-destination>a {
        padding: 2vw 4vw;
        font-size: 2vw;
        text-decoration: none;
        font-family: var(--main-font);
        border-radius: 43px;
        color: white;
        background-color: var(--main-color);
    }

    .destination-slider {

        margin: 8vw 0;
        height: 60vh;
        object-fit: cover;
    }

    .destination-card {

        padding: 0 2vw;
    }

    .destination-card>img {
        box-shadow: 0px 4px 3px black;
        width: 100%;
        height: 60vh;
        object-fit: cover;
        border-radius: 15px;
    }

    .destination-card>.card-info {
        text-shadow: 2px 1px black;
        border-radius: 15px;
        object-fit: cover;
        padding: 0 4vw;
        object-fit: contain;
        color: White;
        position: relative;
        bottom: 10vmax;
        width: fit-content;
    }

    .destination-card>.card-info>h2 {

        font-family: var(--main-font);
        font-size: 3vw;
        line-height: 25px;
        font-weight: 500;
    }

    .destination-card>.card-info>p {
        font-family: var(--main-font);
        font-size: 2vw;
        line-height: 5vw;
        font-weight: 300;

    }

    .destination-card>.card-info>p>span {
        font-weight: 500;
        font-size: 2.5vw;
    }

    ul.slick-dots>li {
        bottom: 25px;

    }
}

@media screen and (min-width:1025px) and (max-width:1366px) {
    .destionation-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .destination-details {
        margin: 4vw 0;
        width: 30%;
    }

    .destionation-header {
        padding: 0 2vw 0 1vw;
        font-size: 2.5vw;
        font-family: var(--main-font);
        line-height: 3.5vw;
        font-weight: 600;
        color: rgba(30, 33, 37, 1);
        box-sizing: border-box;

    }

    .destionation-header>h3>span {
        font-weight: 300;
    }

    .destination-desc {
        width: 90%;
        padding: 2vw 0 0 1vw;
        font-size: 1.4vw;
        font-family: var(--main-font);
        line-height: 2.5vw;
        font-weight: 400;
        color: rgba(97, 102, 107, 1);

    }

    .view-destination {
        margin: 5vw 0 5vw 1vw;


    }

    .view-destination>a {
        padding: 1.5vw 3vw;
        font-size: 1.4vw;
        text-decoration: none;
        font-family: var(--main-font);
        border-radius: 43px;
        color: white;
        background-color: var(--main-color);
    }

    .destination-slider {
        margin: 8vw 0;
        width: 65%;
        height: 28vmax;
        object-fit: cover;

    }

    .destination-card {
        padding: 0 10px
    }

    .destination-card>img {
        box-shadow: 0px 4px 3px black;
        width: 100%;
        height: 28vmax;
        object-fit: cover;
        border-radius: 15px;
    }

    .destination-card>.card-info {
        text-shadow: 2px 1px black;
        border-radius: 15px;
        object-fit: cover;
        padding: 0 2vw;
        object-fit: contain;
        color: White;
        position: relative;
        bottom: 5vmax;
        width: fit-content;
    }

    .destination-card>.card-info>h2 {

        font-family: var(--main-font);

        font-weight: 500;
    }

    .destination-card>.card-info>p {
        font-family: var(--main-font);

        font-weight: 300;

    }

    .destination-card>.card-info>p>span {
        font-weight: 500;

    }

    ul.slick-dots>li {
        bottom: 25px;
        display: none;

    }
}

@media screen and (min-width:1367px) {
    .destionation-section {
        display: flex;
    }

    .destination-details {
        margin: 4vw 0;
        width: 30%;
    }

    .destionation-header {
        padding: 0 2vw 0 1vw;
        font-size: 2.5vw;
        font-family: var(--main-font);
        line-height: 3.5vw;
        font-weight: 600;
        color: rgba(30, 33, 37, 1);
        box-sizing: border-box;

    }

    .destionation-header>h3>span {
        font-weight: 300;
    }

    .destination-desc {
        width: 90%;
        padding: 2vw 0 0 1vw;
        font-size: 1.4vw;
        font-family: var(--main-font);
        line-height: 2.5vw;
        font-weight: 400;
        color: rgba(97, 102, 107, 1);

    }

    .view-destination {
        margin: 5vw 0 5vw 1vw;


    }

    .view-destination>a {
        padding: 1.5vw 3vw;
        font-size: 1.4vw;
        text-decoration: none;
        font-family: var(--main-font);
        border-radius: 43px;
        color: white;
        background-color: var(--main-color);
    }

    .destination-slider {
        margin: 8vw 0;
        width: 65%;
        height: 28vmax;
        object-fit: cover;

    }

    .destination-card {
        padding: 0 10px
    }

    .destination-card>img {
        box-shadow: 0px 4px 3px black;
        width: 100%;
        height: 28vmax;
        object-fit: cover;
        border-radius: 15px;
    }

    .destination-card>.card-info {
        text-shadow: 2px 1px black;
        border-radius: 15px;
        object-fit: cover;
        padding: 0 2vw;
        object-fit: contain;
        color: White;
        position: relative;
        bottom: 5vmax;
        width: fit-content;
    }

    .destination-card>.card-info>h2 {

        font-family: var(--main-font);

        font-weight: 500;
    }

    .destination-card>.card-info>p {
        font-family: var(--main-font);

        font-weight: 300;

    }

    .destination-card>.card-info>p>span {
        font-weight: 500;

    }

    ul.slick-dots>li {
        bottom: 25px;
        display: none;

    }
}